.topics  {
    font-size: 40px;
    color: #4d0000;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.TITLES1:hover {
    background-color: #4d0000;
}
 


#div2 {
    height: auto;
    background-color: #b30000;
    line-height: auto;
    margin-top: 55px;

}

#top1 {
    padding-left: 17px;
    padding-right: 17px;
}

#title {
    padding-left: 17px;
    font-size: 50px;
    font-weight: bold;

}


#title0 {
    font-size: 50px;
    margin-left: 60px;
    font-family: 'Times New Roman', Times, serif;
    color: #b30000;
    margin: none;
    padding: none;
    text-decoration-color: #b30000;
    text-decoration: underline;
}


.info {
    margin-left:60px ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


#myself {
    border-radius: 25%;
    height: 17%;
    width: 17%;
    align-self: start;
    position: relative;
    left: 1500px;
    top: 500px;
}

