#toppage {
    height: auto;
    background-color: black;
    display:inline-block;
    width: 100%;
}
        
   
        
.name {
    font-size: 50px;
    font-family: "Sofia";
    color: white;
    display: inline-block;
    margin-bottom: auto;
    margin-top: 1% ;
    margin-left: 2%;
}

#infome {
    float: right;
    color: white;
    display: inline;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 60px;
    font-size: large;
}



@media (max-width:500px)  {
    #infome{
        text-align: center;
    }

    .name {
        text-align: center;
        margin: none;
    }
}


.nav-item {
    margin-right: 50px;
    font-size: 125%;
    font-weight: bold;
}



        
        


